.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.col {
    --column-count: 4;
    width: calc( (100% - (var(--column-count) - 1) * var(--gap)) / var(--column-count) );
}

.image {
    width: 100%;
}

@media (max-width: 1400px) { 
    .col {
        --column-count: 3;
    }
}

@media (max-width: 1200px) { 
    .col {
        --column-count: 2;
    }
}

@media (max-width: 990px) { 
    .col {
        --column-count: 1;
    }
}